<div class="todo-items" *ngFor="let todo of todos; let i = index" cdkDrag [cdkDragDisabled]="todo.checked"
     [cdkDragData]="todos">
  <div class="todo-item" *ngIf="!todo.edit" (click)="checkTodo(todo, i)" [ngClass]="todo.checked ? 'checked' : ''">
    <span class="todo-name">{{ todo.name }}</span>
    <div class="todo-buttons">
      <button class="todo-remove-btn" type="button" (click)="todos.splice(i,1)">
        <span>Delete Todo</span>
      </button>
      <button class="todo-edit-btn" type="button" (click)="todo.edit = true" [disabled]="todo.checked">
        <span>Edit Todo</span>
      </button>
    </div>
  </div>
  <div class="todo-edit" *ngIf="todo.edit">
    <label>
      <input class="todo-edit-input" [(ngModel)]="todo.new_name" placeholder="{{todo.name}}">
    </label>
    <button class="todo-ok-btn" type="button" (click)="saveEdit(todo)">
      <span>Ok</span>
    </button>
    <button class="todo-cancel-btn" type="button" (click)="cancelEdit(todo)">
      <span>Cancel</span>
    </button>
  </div>
</div>
