<div class="todo-item" [ngClass]="todo.checked ? 'checked' : ''">
  <input type="checkbox" [id]="'todo-checkbox' + todo.id" class="todo-checkbox" (change)="checkTodo()" [(ngModel)]="todo.checked">
  <label class="todo-checkbox-label" [for]="'todo-checkbox' + todo.id"></label>
  <span class="todo-name">{{todo.name}}</span>
  <div class="todo-buttons">
    <button class="todo-remove-btn" type="button" title="Delete todo" (click)="deleteTodo()">
      <i class="fa fa-trash"></i>
    </button>
    <button class="todo-edit-btn" type="button" title="Edit todo" (click)="markForEdit()" [disabled]="todo.checked">
      <i class="fa fa-gear"></i>
    </button>
  </div>
</div>

