@use '../../styles/settings' as settings

.todo-edit
  display: flex
  justify-content: space-between
  align-items: center
  color: #fff
  padding: 16px
  border-radius: 5px
  width: 90%
  font-weight: 400
  margin: 4px auto 10px

.todo-buttons
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 10px


.todo-ok-btn, .todo-cancel-btn
  padding: 5px
  width: 40px
  height: 40px
  background: transparent
  border: none

  &:disabled
    cursor: not-allowed
  &:disabled > img
    filter: grayscale(100%)

.todo-edit-input
  width: settings.$form-width
