<form class="todo-edit" (ngSubmit)="editTodo()">
  <label>
    <input class="todo-edit-input" [(ngModel)]="newName" name="newName" placeholder="" required="true" maxlength="25">
  </label>
  <div class="todo-buttons">
    <button class="todo-ok-btn" type="submit" [disabled]="!newName">
      <img src="/assets/icons/confirm.svg" alt="Confirm" title="Confirm">
    </button>
    <button class="todo-cancel-btn" type="button" (click)="cancel()">
      <img src="/assets/icons/cancel.svg" alt="Cancel" title="Cancel">
    </button>
  </div>
</form>
