.todo-edit
  display: flex
  justify-content: space-between
  align-items: center
  color: #fff
  padding: 16px
  border-radius: 5px
  width: 90%
  font-weight: 400
  margin: 4px auto 10px

.todo-ok-btn
  margin-left: 5px
  border-radius: 4px
  padding: 10px
  width: 100px
  background: linear-gradient(90deg, #2c6806 0%, #009908 100%)

  &:disabled
    background: linear-gradient(90deg, #133603 0%, #005308 100%)
    cursor: not-allowed
    color: gray

.todo-cancel-btn
  margin-left: 5px
  border-radius: 4px
  padding: 10px
  width: 100px
  background: linear-gradient(90deg, #05266c 0%, #004599 100%)

.todo-edit-input
  max-width: 350px
